.ingredients {
  flex-basis: 50%;
  box-sizing: border-box;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.container {
  overflow-y: scroll;
  scrollbar-width: thin;
}

.container::-webkit-scrollbar {
  width: 12px;
  background-color: #2F2F37;
}

.container::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}