.main {
  max-width: 1240px;
  margin: 0 auto 40px;
  overflow: hidden;
  box-sizing: border-box;
  height: calc(100vh - 88px - 40px);
  padding-top: 40px;
}

.main_type_home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 40px;
  grid-template-rows: 100%;
}

.main_type_profile {
  display: grid;
  grid-template-columns: 320px 1fr 320px;
  grid-template-rows: 100%;
  gap: 0 60px;
}

.mainInner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1 / -1;
}

.main__profile-orders {
  grid-column: 2 / 4;
  max-width: 844px;
}
