.header {
  background-color: #1C1C21;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  flex: 1 0 33.333%;
}

.profileWrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex: 1 0 33.333%;
}

.link {
  text-decoration: none;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: inherit;
}